#drop-area {
    border: 2px dashed #ccc;
    max-width: 580px;
    height: 150px;
    font-family: sans-serif;
    margin: 100px auto;
    padding: 20px;
    background-color: #e0ffff;
    display: flex;
    justify-content: center;
}
#drop-area.highlight {
    border-color: darkcyan;
}
p {
    margin-top: 0;
}
.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button:hover {
    background: #ddd;
}
#fileElem {
    display: none;
}


#text{
    align-self: center;
    opacity: 0.6;
    cursor: pointer;
}